/* NOTE: */
/* this CSS code is in NO WAY BEST PRACTICES */
/* it is optimized for our training use-case */
/* */
/* Tailwinds "@apply" directive: https://v3.tailwindcss.com/docs/reusing-styles#extracting-classes-with-apply */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  h1 {
    @apply text-2xl font-bold;
  }

  h2 {
    @apply text-lg font-bold;
  }

  button,
  a {
    @apply cursor-pointer text-blue-700 underline;
  }

  button {
    @apply inline-flex cursor-pointer self-center rounded-lg border-0 bg-amber-500 px-2 py-1 text-stone-100 hover:bg-amber-600;
  }

  button:hover,
  a {
    @apply border-amber-500;
  }
  button:disabled {
    @apply border-amber-500 hover:bg-amber-500;
  }

  form {
    @apply flex flex-col gap-y-8 rounded-lg border-2 p-4;
  }

  form > button[type="submit"] {
    @apply self-start p-2 text-xl;
  }

  label {
    @apply flex flex-col gap-y-2;
  }

  /*probably not semantically correct, but works for our case*/
  label:has(input[type="checkbox"]) {
    @apply flex flex-none flex-row-reverse items-center justify-end;
  }

  input[type="checkbox"] {
    @apply me-2;
  }

  input,
  textarea {
    @apply rounded-lg border px-2 py-2;
  }

  .CardImage {
    @apply relative w-48 border-4 border-white;
  }

  .CardImageDecoration img {
    @apply border-4 border-lime-600;
  }

  .CardImage img {
    @apply h-full rounded-lg;
  }

  .CardImageCaption {
    @apply absolute bottom-2 left-1/2 -translate-x-1/2 transform rounded bg-black bg-opacity-50 px-2 py-1 text-center text-xs text-white;
  }

  .CardImageSelector {
    @apply flex space-x-4;
  }

  /*.CardImageSelector button {*/
  /*  @apply inline-flex self-center rounded-lg border-0 bg-amber-500 text-stone-100 hover:bg-amber-600;*/
  /*}*/

  .CardImageSelector button:disabled {
    @apply bg-stone-100 text-stone-500 hover:bg-stone-100;
  }

  .CardImageSelectorImage {
    @apply cursor-pointer rounded-lg border-2 border-white p-0.5;
  }
  .CardImageSelectorImage:hover {
    @apply border-amber-600;
  }
  .CardImageSelectorImage.selected {
    @apply border-amber-500;
  }

  .CardList {
    @apply flex flex-col items-center gap-y-4;
  }

  .CardListCard {
    @apply flex w-[40rem] items-start gap-x-4 rounded-lg border border-stone-200 p-4;
  }

  .CardListCard a {
    @apply self-start;
  }

  .CardListCard p {
    @apply max-w-72;
  }
  .CardDisplay {
    @apply mt-8 flex max-w-[60rem] flex-col items-center justify-center gap-y-8 rounded-lg border-2 border-stone-200 p-8;
  }
  .CardDisplay .CardImage {
    @apply w-[40rem];
  }
  .CardDisplay .CardImageCaption {
    @apply text-lg;
  }
  .CardDisplay p {
    @apply text-2xl italic;
  }
}

/* Spinner CSS taken from: http://tobiasahlin.com/spinkit/ */
.Spinner {
  margin: auto 0;
  width: 100%;
  text-align: center;
  padding: 0 2rem 1rem 2rem;
}

.Spinner h1 {
  font-size: 1.5rem;
}

.Spinner > .bounce {
  width: 24px;
  height: 24px;
  margin-right: 24px;
  background-color: #be185d;

  border-radius: 100%;
  display: inline-block;
  -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
  animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}

.Spinner .bounce1 {
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}

.Spinner .bounce2 {
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}

@-webkit-keyframes sk-bouncedelay {
  0%,
  80%,
  100% {
    -webkit-transform: scale(0);
  }

  40% {
    -webkit-transform: scale(1);
  }
}

@keyframes sk-bouncedelay {
  0%,
  80%,
  100% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }

  40% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
